<?xml version="1.0"?>
<robot name="joinedrobot" xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:arg name="namespace" default="dsr"/>
	<xacro:arg name="gui"     default="True" />
	<xacro:arg name="remap"   default="False"/>
	<xacro:arg name="color"   default="white"/>
	<xacro:arg name="gripper" default="none"/>

	<!-- include xacro file containing a link where you want to attach the manipulator -->
	<xacro:include filename="$(find summit_xl_description)/robots/summit_xls_std.urdf.xacro"/>
	<xacro:include filename="$(find dsr_description)/xacro/m0609.urdf.xacro"/>

	
	<!-- include xacro file where there first link is called manipulator_base_link -->
	
	<!-- world to summit joint 
	  <joint name="summit_to_world" type="fixed">
	    <child link="world" />
	    <parent link="summit_xl_base_link" />
	    <origin xyz="0 0 0.38212" rpy="0 0 0" />
	  </joint>-->

	<!-- you can specify xyz offset to locate the manipulator -->
	<joint name='jointhem_fixed_joint' type='fixed'>
		<origin xyz="0 0 0.38212" rpy="0 0 0" />
		<parent link='summit_xl_base_link' />
		<child link='base_0'/>
	</joint> 

	
	
 
</robot>
